<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="maximized" value="true"/>
		<add key="font_size" value="20"/>
		<!-- # Experimental features # -->
		<!-- Now dark mode is enabled as per Windows settings -->
		<add key="textbox_select_all_when_click" value="false"/>
		<add key="textbox_edit_item_when_ctrl_v" value="false"/>
	</appSettings>
</configuration>